body {
  margin: 0;
  line-height: 1.33333;
  font-family: Georgia,Times New Roman,Times,serif;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
